{% extends "base.html" %}
{% block title %}ARCHIVES{% endblock %}


<body>
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/select_picks">Select Picks</a>
            <a class="nav-item nav-link" href="/scoresheet">Master Sheet</a>
            <a class="nav-item nav-link" href="/rules">Rules</a>
            <a class="nav-item nav-link" href="/archives">Archives</a>
            <a class="nav-item nav-link" href="/contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
{% for i in range(0, len): %}
    {{html_code[i] | safe}}
{% endfor %}
{% endblock %}
</body>