{% extends "base_test.html" %} {% block title %}Change Password{% endblock %}
{% block content%}
<form method="POST">
  <h3 align="center">Username</h3>
  <div class="form-group">
    <label for="username">Username (case-sensitive)</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Enter Username"
    />
    <label for="new_password">New password</label>
    <input
      type="password"
      id="new_password"
      name="new_password"
      class="form-control"
      placeholder="Enter new password"
    />
    <label for="confirm_password">Confirm password</label>
    <input
      type="password"
      id="confirm_password"
      name="confirm_password"
      class="form-control"
      placeholder="Confirm password"
    />
    <br />
    <div align="center">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>
{% endblock %}