{% extends "base.html" %} {% block title %}Download Mastersheet{% endblock %}
{% block content %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/select_picks">Select Picks</a>
<!--            <a class="nav-item nav-link" href="/mastersheet">Master Sheet</a>-->
                        <a class="nav-item nav-link" href="/home">Master Sheet</a>
            <a class="nav-item nav-link" href="/rules">Rules</a>
            <div class="dropdown">
              <button class="btn btn-dark bg-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Personal Archives
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
<!--                CAHNGE THE RANGE BACK TO 18-->
                {% for i in range(1, 2) %}
                  <li><a class="dropdown-item" href="/personal_archive_{{i}}">Week {{i}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-dark bg-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Mastersheet Archives
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for i in range(0) %}
                  <li><a class="dropdown-item" href="/home" value="week_{{i}}}" >Week {{i}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <a class="nav-item nav-link" href="/contact">Contact</a>
            <a class="nav-item nav-link" href="/logout">logout</a>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container bg-warning">
        <h5 class="text-black">Currently logged in as <b>{{current_user.username}}</b></h5>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% elif category == "success" %}
        <div class="alert alert-success alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

<form id="download" method="post">
    <style>
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }
    </style>
    <h6>DOWNLOAD MASTERSHEET</h6>
    <input name="masternumber" type="number" placeholder="enter a week number">
    <input id="masternumbersubmit" name="masternumbersubmit"  type="submit" value="submit">
</form>
{% endblock %}