{% extends "base_test.html" %} {% block title %}Forgot Password{% endblock %}
{% block content%}
<form method="POST">
  <h3 align="center">Forgot Password</h3>
  <div class="form-group">
    <label for="username">Username (case-sensitive)</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Enter Username"
    />
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
    />
    <br />
    <div align="center">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>
{% endblock %}