{% extends "base.html" %}
{% block title %}EL DOGO PUZZLER{% endblock %}
{% block content %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/sign-up">Sign Up</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
<br>
<br>
<br>
<div class="container bg-warning">
  <p class="text-black">Currently logged in as {{current_user.username}}</p>
</div>
{% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% elif category == "success" %}
        <div class="alert alert-success alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
<center><img src="{{ url_for('static', filename='images/puzzler_logo.png')}}" width="500" height="500"></center>
{% endblock %}
