{% extends "base.html" %}
{% block title %}ARCHIVES{% endblock %}

<body>
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/select_picks">Select Picks</a>
            <a class="nav-item nav-link" href="/mastersheet">Master Sheet</a>
            <a class="nav-item nav-link" href="/rules">Rules</a>
            <div class="dropdown">
              <button class="btn btn-dark bg-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Personal Archives
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for i in range(1, 18) %}
                  <li><a class="dropdown-item" href="/personal_archive_{{i}}">Week {{i}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-dark bg-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Mastersheet Archives
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for i in range(1, 18) %}
                  <li><a class="dropdown-item" href="/master_archive_{{i}}" value="week_{{i}}}" >Week {{i}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <a class="nav-item nav-link" href="/contact">Contact</a>
            <a class="nav-item nav-link" href="/logout">logout</a>
          </div>
        </div>
      </div>
    </nav>
{% for i in range(0, len): %}
    {{html_code[i] | safe}}
{% endfor %}
{% endblock %}
</body>