{% extends "base.html" %}
{% block title %}RULES{% endblock %}


<body>
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/select_picks">Select Picks</a>
            <a class="nav-item nav-link" href="/mastersheet">Master Sheet</a>
            <a class="nav-item nav-link" href="/rules">Rules</a>
            <div class="dropdown">
              <button class="btn btn-dark bg-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Personal Archives
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for i in range(1, 18) %}
                  <li><a class="dropdown-item" href="/personal_archive_{{i}}">Week {{i}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-dark bg-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Mastersheet Archives
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for i in range(1, 18) %}
                  <li><a class="dropdown-item" href="/master_archive_{{i}}" value="week_{{i}}}" >Week {{i}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <a class="nav-item nav-link" href="/contact">Contact</a>
            <a class="nav-item nav-link" href="/logout">logout</a>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <h3 align="center">PUZZLER RULES – 2022 SEASON</h3>
    <p>
      WELCOME BACK PUZZLER FANS! As always, we have given last year’s players first choice to get
in so we have only a handful of new players this season. Generally, most of the rules will remain the
same. There are 18 weeks of football with each team playing 17 games and having one week
off during the season. The number of games played will vary from week to week, so please take
careful notice of each week to make sure that you number correctly according to the number of
games played that week. Here are the PUZZLER rules:
<br><br>1. For the first time ever, the Puzzler is going all digital. Except for a handful of the Puzzler-
faithful who are grandfathered in (you know who you are), all entries must be made on the
website. No more spreadsheets. We’re designing the website from scratch so we may
inadvertently overlook a few opportunities to improve the Puzzler. We’re open to suggestions
going forward &amp; we may update/improve the website periodically. Explore the website to
familiarize yourself with it and feel free to email us should you have any questions.
<br><br>2. All players must register on the website with their name, email address and username.
Please use your PLAYER NAME as your username when registering. The website isn’t
fancy looking and is pretty basic because it was designed to resemble the spreadsheet system
of years past. The most important thing is that it works.
<br><br>3. The website is designed to be essentially idiot-proof so that there is no way for a player to
make an error when submitting his/her picks (aside from any of you that may decide to pick the
hapless Bears to win in any given week). If you do make an error when submitting your picks,
the website will not accept your entry and you must go back to fix your error(s). Once your
picks are error free, your picks will be accepted by the website. There will be no changing
your picks once your picks have been accepted by the website.
<br><br>4. The master sheet for each week will be posted on the website at 9am PST on the
Wednesday after each deadline. For reference purposes, the master sheets for previous
weeks will be viewable on the website. Each player’s weekly picks will also be viewable on the
website (but viewable only by that player). Please note that the website is not viewable by
the general public and only registered players will have access to the substantive
elements of the website.
<br><br>5. Total cost to play is $200 which covers the entire 18-week season plus a bonus square in the
Super Bowl bonus pool. This equates to a cost of just over $11 per week. Once you pay up
and begin the first week, you must continue through all 18 weeks. If you drop out in any week,
you’ll be out for good and you will forfeit all prize money for the remaining weeks and for the
Super-Bowl bonus pool. There are no refunds for any drop-outs. See #7 &amp;12 below for more
detail on the Super Bowl bonus pool.
<br><br>6. Winning prize each week is $1,000.00. Unlike in previous years, winners will NOT be
allowed/encouraged to tip the house. Tipping the house made sense in previous years
because of the enormous time &amp; effort it took to run the Puzzler. However, the entire point of
moving the Puzzler online is to automate much of this workload and thereby make the Puzzler
much easier to administer. There you have it. No tipping.
<br><br>7. The Super Bowl bonus pool will have a prize of $250 per quarter this year (which covers a
square for the randomly drawn 100 players) plus $250 for the mini-pool winner (covering the
first randomly drawn 10 players). Last year the prize was $375 per quarter plus the $375 for
the mini-pool winner but we’re reducing it this year to help cover the cost of the website

buildout and ongoing operating costs (which is costing a few grand in total so the extra $625
from this season’s Super Bowl bonus pool only covers only a fraction of these costs - I’m
personally eating the rest).
<br><br>8. Entries must be in by Tuesdays at 6:00 PM PST – this is a change from previous years
so be sure to make a note of it. The first week’s entry is due on Tuesday 9/6/22.
<br><br>9. There still may be NFL scheduling changes due to the uncertainty poised by the pandemic. A
few things to note about this 2022 season:
(a) As mentioned above, there will be 18 weeks of games again this season. The first 5
weeks will be the full schedule of 16 games per week.
(b) There will be Thursday games scheduled in each week except for the final week.
(c) Week 2 has two Monday Night games. The 2 nd of the two Monday night games will
serve as the tie-breaker for Week 2.
(c) Weeks 6 - 11 and weeks 13 - 14 are the bye-weeks which will consist of only 13 or 14
games per week.
(d) In Week 16, there are several Saturday games (Christmas Eve) and there will only be 3
games on Sunday (Christmas Day).
(e) As always, any games may be changed at the NFL’s discretion.
<br><br>10. Tie-games lose the value of the points placed on that game. However, if games are (a)
cancelled; (b) rescheduled beyond the Monday night game for that week; or (c) forfeited
for any reason, points placed on either team will be considered a “win.”
<br><br>11. Don’t forget to include the TIE-BREAKER score which will be the number closest to the
combined total score of both teams on the Monday night game. No over-under. The player
who picks closest to the combined total score of the Monday night game wins the tie-breaker.
In the unlikely event of a tie on the tie-breaker, the $1K prize will be split equally among the
tied players.
<br><br>12. Super Bowl bonus pool. Because there are 110 players and only 100 squares on the “main”
Super Bowl card, 10 players will be included in the “mini-pool” instead of the “main” Super
Bowl pool. The first 10 names randomly drawn will be put into a “mini-pool” in which they will
each receive a number from 0 to 9. The total final score of both teams will be added together
and the player having the last digit of that total will be declared the winner of the “mini-pool”
($250). The “main” Super Bowl card will then be filled from the remaining 100 players. The
first name drawn will be in square one (row 1, column 1), the next name drawn will be in
square two (row 1, column 2) and so on down the line. When the entire card is filled, the
numbers will be drawn. The “main” Super Bowl” prize will be $250 for each of the 4 Quarters.
<br><br>
<p align="center">GOOD LUCK TO YOU ALL!</p>
    </p>
{% endblock %}
</body>