{% extends "base.html" %} {% block title %}Select Your Picks{% endblock %}
{% block content %}

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/select_picks">Select Picks</a>
<!--            <a class="nav-item nav-link" href="/mastersheet">Master Sheet</a>-->
                        <a class="nav-item nav-link" href="/home">Master Sheet</a>
            <a class="nav-item nav-link" href="/rules">Rules</a>
            <div class="dropdown">
              <button class="btn btn-dark bg-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Personal Archives
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
<!--                CAHNGE THE RANGE BACK TO 18-->
                {% for i in range(1, 2) %}
                  <li><a class="dropdown-item" href="/personal_archive_{{i}}">Week {{i}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-dark bg-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Mastersheet Archives
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for i in range(0) %}
                  <li><a class="dropdown-item" href="/home" value="week_{{i}}}" >Week {{i}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <a class="nav-item nav-link" href="/contact">Contact</a>
            <a class="nav-item nav-link" href="/logout">logout</a>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container bg-warning">
      <p class="text-black">Currently logged in as {{current_user.username}}</p>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% elif category == "success" %}
        <div class="alert alert-success alter-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% else %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
        {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

<h1 align="center" xmlns="http://www.w3.org/1999/html">Week {{week_number}}</h1>
<p align="center"><b>Please ensure you are logged into the correct profile BEFORE selecting picks</b></p>
<p align="center"><b>* There are {{len}} games this week *</b></p>
<p align="center"><b> * Your total this week should equal {{total_possible}} *</b></p>
<p align="center"><b>* Picks are due Tuesday at 7 PM PST *</b></p>
<p align="center"><b>Review the rules <a href="/rules">here</a></b></p>
<br>
<div>
  {% for i in range(0, len) %}
    <table class="table" border="2">
      <thead>
        <tr >
          <th scope="col">{{game_days[i]}}</th>
          <th scope="col">Teams</th>
          <th scope="col">Pick</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="font-weight:normal" scope="row">Away Team</th>
          <td><b>{{away_teams[i]}}</b></td>
          <td>
            <input form="myForm" name="away_team_{{i}}" id="away_confidence_{{i}}" min="0" max="{{len}}" type="number"
                   placeholder="" value="" onkeyup="sum();">
          </td>
        </tr>
        <tr>
          <th style="font-weight:normal" scope="row">Home Team</th>
          <td><b>{{home_teams[i]}}</b></td>
          <td>
            <input form="myForm" name="home_team_{{i}}" id="home_confidence_{{i}}" min="0" max="{{len}}" type="number"
                   placeholder="" value="" onkeyup="sum();">
          </td>
        </tr>
      </tbody>
    </table>

    {% endfor %}
  <p><b>Your total:</b></p>
  <input type="text" id="txt3" disabled/><br />
  <SCRIPT>
  function sum() {
              var ac1 = document.getElementById('away_confidence_0').value;
              if (ac1 == '') {ac1 = 0;}
              var hc1 = document.getElementById('home_confidence_0').value;
              if (hc1 == '') {hc1 = 0;}
              var ac2 = document.getElementById('away_confidence_1').value;
              if (ac2 == '') {ac2 = 0;}
              var hc2 = document.getElementById('home_confidence_1').value;
              if (hc2 == '') {hc2 = 0;}
              var ac3 = document.getElementById('away_confidence_2').value;
              if (ac3 == '') {ac3 = 0;}
              var hc3 = document.getElementById('home_confidence_2').value;
              if (hc3 == '') {hc3 = 0;}
              var ac4 = document.getElementById('away_confidence_3').value;
              if (ac4 == '') {ac4 = 0;}
              var hc4 = document.getElementById('home_confidence_3').value;
              if (hc4 == '') {hc4 = 0;}
              var ac5 = document.getElementById('away_confidence_4').value;
              if (ac5 == '') {ac5 = 0;}
              var hc5 = document.getElementById('home_confidence_4').value;
              if (hc5 == '') {hc5 = 0;}
              var ac6 = document.getElementById('away_confidence_5').value;
              if (ac6 == '') {ac6 = 0;}
              var hc6 = document.getElementById('home_confidence_5').value;
              if (hc6 == '') {hc6 = 0;}
              var ac7 = document.getElementById('away_confidence_6').value;
              if (ac7 == '') {ac7 = 0;}
              var hc7 = document.getElementById('home_confidence_6').value;
              if (hc7 == '') {hc7 = 0;}
              var ac8 = document.getElementById('away_confidence_7').value;
              if (ac8 == '') {ac8 = 0;}
              var hc8 = document.getElementById('home_confidence_7').value;
              if (hc8 == '') {hc8 = 0;}
              var ac9 = document.getElementById('away_confidence_8').value;
              if (ac9 == '') {ac9 = 0;}
              var hc9 = document.getElementById('home_confidence_8').value;
              if (hc9 == '') {hc9 = 0;}
              var ac10 = document.getElementById('away_confidence_9').value;
              if (ac10 == '') {ac10 = 0;}
              var hc10 = document.getElementById('home_confidence_9').value;
              if (hc10 == '') {hc10 = 0;}
              var ac11 = document.getElementById('away_confidence_10').value;
              if (ac11 == '') {ac11 = 0;}
              var hc11 = document.getElementById('home_confidence_10').value;
              if (hc11 == '') {hc11 = 0;}
              var ac12 = document.getElementById('away_confidence_11').value;
              if (ac12 == '') {ac12 = 0;}
              var hc12 = document.getElementById('home_confidence_11').value;
              if (hc12 == '') {hc12 = 0;}
              if (document.getElementById('away_confidence_12')){
                var ac13 = document.getElementById('away_confidence_12').value;
                if (ac13 == '') {ac13 = 0;}
                var hc13 = document.getElementById('home_confidence_12').value;
                if (hc13 == '') {hc13 = 0;}
              }
              if (document.getElementById('away_confidence_13')){
                var ac14 = document.getElementById('away_confidence_13').value;
                if (ac14 == '') {ac14 = 0;}
                var hc14 = document.getElementById('home_confidence_13').value;
                if (hc14 == '') {hc14 = 0;}
              }
              if (document.getElementById('away_confidence_14')){
                var ac15 = document.getElementById('away_confidence_14').value;
                if (ac15 == '') {ac15 = 0;}
                var hc15 = document.getElementById('home_confidence_14').value;
                if (hc15 == '') {hc15 = 0;}
              }
              if (document.getElementById('away_confidence_15')){
                var ac16 = document.getElementById('away_confidence_15').value;
                if (ac16 == '') {ac16 = 0;}
                var hc16 = document.getElementById('home_confidence_15').value;
                if (hc16 == '') {hc16 = 0;}
              }

              var result = parseInt(ac1) + parseInt(hc1) + parseInt(ac2) + parseInt(hc2) +
                           parseInt(ac3) + parseInt(hc3) + parseInt(ac4) + parseInt(hc4) +
                           parseInt(ac5) + parseInt(hc5) + parseInt(ac6) + parseInt(hc6) +
                           parseInt(ac7) + parseInt(hc7) + parseInt(ac8) + parseInt(hc8) +
                           parseInt(ac9) + parseInt(hc9) + parseInt(ac10) + parseInt(hc10) +
                           parseInt(ac11) + parseInt(hc11) + parseInt(ac12) + parseInt(hc12);
              if (document.getElementById('away_confidence_12')) {result = result + parseInt(ac13) + parseInt(hc13)}
              if (document.getElementById('away_confidence_13')) {result = result + parseInt(ac14) + parseInt(hc14)}
              if (document.getElementById('away_confidence_14')) {result = result + parseInt(ac15) + parseInt(hc15)}
              if (document.getElementById('away_confidence_15')) {result = result + parseInt(ac16) + parseInt(hc16)}

              if (!isNaN(result)) {
                  document.getElementById('txt3').value = result;
              if (ac1 == hc1) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac2 == hc2) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac3 == hc3) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac4 == hc4) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac5 == hc5) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac6 == hc6) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac7 == hc7) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac8 == hc8) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac9 == hc9) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac10 == hc10) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac11 == hc11) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac12 == hc12) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac13 == hc13) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac14 == hc14) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac15 == hc15) {document.getElementById("cmdSubmit").disabled = true;}
              if (ac16 == hc16) {document.getElementById("cmdSubmit").disabled = true;}
              }
              if (result == {{total_possible}}) {
                document.getElementById("cmdSubmit").disabled = false;
              }
              else {
                document.getElementById("cmdSubmit").disabled = true;
              }
          }
  </SCRIPT>

    <br>
    <form id="myForm" method="post">
      <p><b>Enter tie-breaker here:</b></p>
      <input form="myForm" name="tie_breaker" id="tie_breaker" min="0" max="99" type="number" placeholder="" required>
      <br>
      <br>

      <input id="cmdSubmit" type="submit" value="submit">
      <br>
      <br>
    </form>
</div>

{% endblock %}