{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/sign-up">Sign Up</a>
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
<br>
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email"><b>Email Address</b></label>
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
    />
    <br>
    <label for="username"><b>Username</b> (Please bear in mind that this exact username along with punctuation will be
      required for login)</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Enter Username"
    />
    <br>
    <label for="password1"><b>Password</b> (at least 6 characters long)</label>
    <input
      type="password"
      id="password1"
      name="password1"
      class="form-control"
      placeholder="Enter Password"
    />
    <br>
    <label for="password2"><b>Confirm Password</b></label>
    <input
      type="password"
      id="password2"
      name="password2"
      class="form-control"
      placeholder="Enter Password Again"
    />
    <br />
    <div align="center">
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
  </div>
</form>
{% endblock %}